@keyframes expand {
  from {
    transform: scale(0);
    opacity: 0;
    background: #5470B0;
  }
}

div.display {
  position: relative;
  background-color: rgba(100, 100, 100, 0.7);
  width: 80vw;
  height: 50vh;
}

.comment {
  position: absolute;
  width: 100%;
  color: white;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

.text-center {
  text-align: center;
}

.circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.scissor {
  background-image: url('../assets/scissor.png');
  background-size: cover;
}

.rock {
  background-image: url('../assets/rock.png');
  background-size: cover;
}

.paper {
  background-image: url('../assets/paper.png');
  background-size: cover;
}

.control {
  position: relative;
}
.result {
  position: absolute;
  top: calc((50vh - 30vw) / 2);
  width: 30vw;
  height: 30vw;
  animation: expand .5s ease-in-out;
}

.absolute {
  position: absolute !important;
  top: 0;
  z-index: 10;
}

.user {
  left: 0;
}
.com {
  right: 0;
}



.control:hover {
  background-blend-mode: screen;
  background-color: rgba(0, 0, 255, 1);
}

.control:active {
  background-blend-mode: screen;
  background-color: rgba(0, 255, 255, 1);
}
